* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(248, 241, 232);
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}

/*Main-nav*/
.main-nav {
    height: 70px;
    background-color: #fff;
}
img{
    height: 2.5rem;
    margin-top: 0.7rem;
}
.left-main-nav {
    display: flex;
}
.search-div{
    padding-left: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    margin-left: 0.7rem;
    border: 1px red solid;
    height: 30px;

    align-items: center;
}
.search {
    margin-top: 0.8rem;
}
.search-div img{
    height:1.5rem ;
    margin-left: 1rem;
    margin-bottom: 0.7rem;
}
.search-div {
    display: flex;
    padding-right: 150px;
    background-color: #eef3f8;
    border: none;
    border-radius: 4px;
}

.flex {
    display: flex;
}
.right-main-nav {
    display: flex;
}
.right-main-nav .right-main-nav-items {
    padding: 0.5rem;
    margin-top: 2px;
}
.right-main-nav-items img {
    margin-top: -0.4rem;
    height: 1.5rem;
}

.flexx {
    display: flex;
    justify-content: space-between;
}
.right-main-nav-items .muted-text {
    margin-top: 0.5rem;
}
.right-main-nav-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Main Area*/
.contain {
    width: 80%;
    margin: auto;
    background-color: #f3f2ef;
    height: 100%;
    margin-top: 40px;
}

.grid-2 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.left-act {
    margin-left: 20px;
}
.right-act {
    margin-right: 10px;
}
.act-img-txt {
    display: flex;
}

.act-img-txt img{
    margin-top: 10px;
}
.act-txt {
    margin-top: 20px;
    margin-right: 10px;
}
.also{
    margin-left: 10px;
}



/*Media Querry (Tablets and under)*/

@media(max-width: 768px) {
    .container{
        flex-direction: column;
    }
    .right-main-nav {
        margin-top: 25px;
    }

    .white-cardd-foot {
        display: flex;
        margin: 60px 20px;  
    }
    .white-cardd-foot .li .grid {
        margin-left: 30px;
        width: 90%;
    }
    .logo {
        top: 180px;
        left: 80px;
        height: 100px;
        width: 100px;
    }
    .green-card {
        height: 100px;
    }
    .whole {
        flex-direction: column;
        margin-top: 90px;
    }
    .white-card-middle {
        height: 200px;
    }
    .white-card-middle-2{
        height: 355px;
    }
    .act-txt-2 {
        text-align: justify;
    }
    .white-card-middle-3 {
        height:930px;
    }
    .adobe-items {
        flex-direction: column;
    }
    .white-card-middle-4 {
        height: 390px;
    }

    .white-card {
        height: 0;
    }

    .emergency{
        display: flex
    }
    .flex-3{
        flex-direction:column;
        width: 100%;
        margin-right: 5px;
    }
    .nm-new{
        width: 75%;
    }
   
    .int-2 {
        margin: 0;
        margin-right: 5px;
    }
     .white-card-middle-5 {
         height: 350px;
     }
    .footer{
        grid-template-columns: repeat(2, 1fr)
    }
}

/*Media Querry (mobile)*/

@media(max-width: 500px) {

    .contain {
        width: 90%;
    }
    .hd{
        text-align: center;
    }
    .container{
        flex-direction: column;
    }
    .right-main-nav{
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .white-cardd-foot {
        display: flex;
        margin: 60px 20px;  
    }
    .white-cardd-foot .li .grid {
        margin-left: 30px;
        width: 90%;
    }
    .logo {
        top: 220px;
        left: 60px;
        height: 80px;
        width: 80px;
    }
    .green-card {
        height: 100px;
        margin-top: 10px;
    }
    .whole {
        flex-direction: column;
        margin-top: 125px;
    }
    .white-card-middle {
        height: 200px;
    }
    .white-card-middle-2{
        height: 355px;
    }
    .act-txt-2 {
        text-align: justify;
        margin-top: -5px;
    }
    .white-card-middle-3 {
        height:1110px;
    }
    .adobe-items {
        flex-direction: column;
    }
    .white-card-middle-4 {
        height: 390px;
    }

    .white-card {
        height: 0;
    }

    .emergency{
        display: flex
    }
    .flex-3{
        flex-direction:column;
        width: 100%;
        margin-right: 5px;
    }
    .nm-new{
        width: 75%;
    }
   
    .int-2 {
        margin: 0;
        margin-right: 5px;
    }
     .white-card-middle-5 {
         height: 400px;
     }
    .footer{
        grid-template-columns: repeat(2, 1fr)
    }
}